{% extends "/base.html.twig" %}
{% block body %}
<h1>Article de {{post.author.firstname ~' '~ post.author.lastname}}</h1>
    <ol>
        <li>
            <p>Titre : {{post.title}}</p>
            <p>Contenu : {{post.content}}</p>
            <p>Créé le : {{post.createdAt|date('d/m/Y')}}</p>
            <a href="/blog/authors?id={{post.author.id}}">
            <p>Par : {{post.author.firstname ~' '~ post.author.lastname}}</p>
            </a>
        </li>
    </ol>
{% endblock %}
